<%- include("header", {title: title}); %>

<h1>Kunder</h1>

<p>En tabell över BuckStars kunder.</p>

<table>
    <tr>
        <th>ID</th>
        <th>Namn</th>
        <th>Adress</th>
        <th>Telefon</th>
        <th>Beställ</th>
    </tr>
    <% for (const row of res) { %>
    <tr>
        <td><%= row.id %></td>
        <td><a href="/eshop/customer/<%= row.id %>"><%= row.Namn %></a></td>
        <td><%= row.Adress %></td>
        <td><%= row.Telefon %></td>
        <td>
            <a href="/eshop/orders/<%= row.id %>">
                <button type="button" name="button">Beställningar</button>
            </a>
        </td>
    </tr>
    <% }; %>
</table>

<div class="link-btn">
    <a href="/eshop/index">Index</a>
</div>

<%- include("footer"); %>
